@use '../../variables';

.form {
    width: variables.$wid-per-100;
    margin: 75px 0 0 380px;
}

.formPopup {
    background-color: variables.$color-white;
    width: variables.$wid-per-85;
    height: variables.$height-px-600;

    .formHeading {
        display: flex;
    
        .arrow {
            width: variables.$wid-px-30;
            height: variables.$height-px-30;
            background-color: variables.$color-121c8d;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: variables.$font-px-18;
            color: variables.$color-white;
            cursor: pointer;
    
        }
    
        .formName
        {
            margin: 50px 0 0 20px;
            font-size: variables.$font-px-25;
            color: variables.$color-121c8d;
            font-weight: bolder;
            font-family: sans-serif;

        }
    }
    

    .formArea
    {
        display: grid;
        grid-template-columns: 500px 500px;
        justify-content: space-around;
        align-items: center;
    }

    .formInput {
        width: variables.$wid-px-300;
        height: variables.$height-px-100;
        margin: 75px 0 0 100px;
    }


    .formInputLabel {
        font-size: variables.$font-px-18;
        color: variables.$color-121c8d;
        font-family: sans-serif;
        font-weight: bold;
        margin-left: 5px;
    }

    .formInputEntries {
        margin-top: 5px;
        padding-left: 10px;
        border-radius: 15px;
        width: variables.$wid-px-300;
        height: variables.$height-px-40;
        box-shadow: 0 5px 5px variables.$color-b2b8fa;
        outline: none;
        border: none;
        font-size: variables.$font-px-14;
        color: variables.$color-454da8;
    }

    .formInputEntries:hover {
        border: 3px dotted variables.$color-454da8;
    }

    .formInputButton {
        border-radius: 25px;
        width: variables.$wid-px-160;
        height: variables.$height-px-40;
        padding: 8px;
        font-weight: bold;
        font-family: sans-serif;
        border: 2px solid variables.$color-121c8d;
        background-color: variables.$color-b2b8fa;
        color: variables.$color-121c8d;
        cursor: pointer;
        margin: 50px 0 0 400px;
    }

    .formInputButton:hover {
        background-color: variables.$color-121c8d;
        color: variables.$color-b2b8fa;
    }

}