@use '../../../variables';

.header {
    background-color: variables.$color-white;
    width: variables.$wid-per-100;
    height: variables.$height-px-45;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    width: variables.$wid-px-250;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLeftImage {
    width: variables.$wid-px-30;
    height: variables.$wid-px-30;
}

.headerLeftText {
    font-family: sans-serif;
    font-size: variables.$font-px-25;
}

.headerRight {
    width: variables.$wid-px-600;
    display: flex;
    align-items: center;
}

.headerRightNavigation {
    width: variables.$wid-px-110;
    border: 3px solid variables.$color-white;
    height: variables.$height-per-100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerRightNavigation:hover {
    border-bottom-color: variables.$navigation-color-5f6efa;
}

.headerRightButton {
    border-radius: 25px;
    background-color: variables.$navigation-color-5f6efa;
    padding: 8px;
    width: variables.$wid-px-70;
    font-size: variables.$font-px-10;
    color: variables.$color-white;
    border: none;
    cursor: pointer;
}