@use "../../variables";

  
  .maincontainerHeader {
    margin: 60px 0 0 40px;
    width: variables.$wid-per-90;
  }
  
  .maincontainerHeaderTitle {
    padding: 30px 100px 0 300px;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }


  .maincontainerMiddle {
    padding: 50px 0 0 300px;
  }
  
.maincontainerMiddlePart {
    display: flex;
}

.searchImg {
    width: variables.$wid-px-40;
    height: variables.$height-px-40;
    box-shadow: 5px 5px 5px variables.$shadow-box-color;
}

.searchInput {
    width: variables.$wid-px-820;
    height: variables.$height-px-40;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px variables.$shadow-box-color;
    font-size: variables.$font-px-15;
}

.formButton,
.inputSort {
    margin-left: 10px;
    padding: 5px;
    width: variables.$wid-px-115;
    height: variables.$height-px-40;
    background-color: variables.$color-white;
    box-shadow: 5px 5px 5px variables.$shadow-box-color;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: grey;
}

