//UI - colors
$body-bg-color: #e3e5fa;
$color-white: white;
$navigation-color-5f6efa: #5f6efa;
$form-bg-color: rgba(0, 0, 0, 0.4);
$star-bg-color-orange: rgb(238, 157, 6);
$input-shadow-color:rgb(233, 230, 230);
$shadow-box-color:rgb(201, 195, 195);

//UI - width
$wid-per-100: 100%; //percentage-width

$wid-px-20: 20px;
$wid-px-30: 30px;
$wid-px-40: 40px;
$wid-px-70: 70px;
$wid-px-105: 105px;
$wid-px-110: 110px;
$wid-px-115: 115px;
$wid-px-160: 160px;
$wid-px-200: 200px;
$wid-px-250: 250px;
$wid-px-300: 300px;
$wid-px-450: 450px;
$wid-px-500: 500px;
$wid-px-600: 600px;
$wid-px-820: 820px;
$wid-px-940: 940px;

//UI - heigth
$height-per-100:100%; //percentage-heigth

$height-px-20:20px;
$height-px-30:30px;
$height-px-40:40px;
$height-px-45:45px;
$height-px-100:100px;
$height-px-200:200px;
$height-px-160:160px;
$height-px-180:180px;
$height-px-500:500px;
$height-px-600:600px;

//UI - fontsize
$font-px-10: 10px;
$font-px-14: 14px;
$font-px-15: 15px;
$font-px-16: 16px;
$font-px-17: 17px;
$font-px-18: 18px;
$font-px-20: 20px;
$font-px-25: 25px;





