@use './variables';


.form {
    width: variables.$wid-per-100;
    height: variables.$height-per-100;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
