@use './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    background-color: variables.$body-bg-color;
    width: variables.$wid-per-100;
    height: variables.$height-vh-100;
  }
  