@use '../../variables';

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 30px 0 0 300px;
    margin-top: 40px;
}

.element {
    background-color: variables.$color-white;
    height: variables.$height-px-330;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.ElementImg {
    width: variables.$wid-px-160;
    height: variables.$height-px-160;
    border-radius: 50%;
    margin-top: 12px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.ElementName {
    font-weight: 600;
    font-size: variables.$font-px-16;
}

.ElementCountry {
    font-weight: 300;
    color: rgb(124, 124, 124);
    font-size: variables.$font-px-14;
    margin-bottom: 10px;
}

.ElementName,
.ElementCountry {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    letter-spacing: 1px;
}

.ElementRating {
    text-align: center;
    color: variables.$star-bg-color-orange;
    font-size: variables.$font-px-17;
    letter-spacing: 4px;
}

.ElementButton {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.btn {
    width: variables.$wid-px-70;
    height: variables.$height-px-30;
    text-align: center;
    background-color: variables.$navigation-color-5f6efa;
    border-radius: 10px;
    border: none;
    color: variables.$color-white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px #6572e8;
}

.element:hover {
    cursor: pointer;
    border: 4px solid #727cd8;
}